.navigation {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.navigation-list {
  display: flex;
}

.navigation-list-li:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-item {
  @extend %font-and-transition-for-nav-link;
  color: $title-dark-color;

  &::after {
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;

    display: block;
    content: " ";
    height: 0;
    background-color: $accent-color;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header {
  border-bottom: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-address-list {
  display: flex;
}

.header-mail-link {
  display: flex;
  align-items: center;
  margin-right: 50px;
  padding-bottom: 32px;
  @extend %font-and-transition-for-nav-link;
  color: $text-dark-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-tel-link {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  @extend %font-and-transition-for-nav-link;
  color: $text-dark-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.logo-first-word {
  margin-right: 85px;
  @extend %font-for-logo;
  color: $logo-color;
}

.logo-second-word {
  @extend %font-for-logo;
  color: $accent-color;
}

.address-icons {
  margin-right: 10px;
  fill: currentColor;
}

.address-container {
  display: flex;
  align-content: center;
}

.headline {
  color: $accent-color;

  &::after {
    margin-left: auto;
    margin-right: auto;
    margin-top: 28px;

    display: block;
    content: " ";
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
  }
}
